.container {
  min-width: 300px;
  height: 70vh;
  margin: 0px 10px 10px 20px;

  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(80px);
}

.filters > div {
  padding-left: 40px;
  padding-top: 32.5px;
  display: flex;
  align-items: center;

  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  letter-spacing: 1px;
  /* Secondary Color */
  color: #2e3271;
}

.header {
  width: 45px;
  height: 18px;
  padding-left: 20px;
  padding-top: 32.5px;

  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  letter-spacing: 1px;
  /* Secondary Color */
  color: rgba(124, 141, 181, 0.72);
}

label {
  margin-left: 15px;
}

input[type='checkbox'] {
  width: 1rem;
  height: 1rem;
  color: rgba(124, 141, 181, 0.72);
  vertical-align: middle;
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  background-color: #ffffff;
  transition: background 300ms;
  cursor: pointer;
}

/* Pseudo element for check styling */
input[type='checkbox']::before {
  content: '';
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #ccd3d8;
}

/* Checked */
input[type='checkbox']:checked {
  background-color: currentcolor;
}

input[type='checkbox']:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

@media (min-width: 400px) and (max-width: 995px) {
  .container {
    min-width: 290px;
    height: fit-content;
    margin: 10px;
  }

  .filters {
    padding-top: 32.5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .filters > div {
    padding-left: 0px;
    padding-top: 0px;
  }
}

@media (min-width: 1px) and (max-width: 400px) {
  .container {
    min-width: 290px;
    height: fit-content;
    margin: 10px;
  }

  .filters {
    padding-top: 32.5px;
    display: flex;
    flex-direction: column;
  }

  .filters > div {
    padding-left: 0px;
    padding-top: 0px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
