.container {
  padding-top: 30px;
  width: 50%;
  margin: auto;
}

.input {
  display: flex;
  margin: auto;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 50%;
  min-width: 300px;
}

.list {
  margin-top: 30px;
}

.product {
  align-items: center;
  background: linear-gradient(90deg, rgb(240, 227, 241), rgb(233, 112, 241));
  border-radius: 5px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 4px auto;
  padding: 16px;
  width: 90%;
  min-width: 300px;
}

.id {
  color: rgb(129, 24, 199);
  margin-right: 20px;
}

.name {
  text-align: center;
  color: rgb(64, 7, 78);
  margin-right: auto;
}

.button {
  appearance: none;
  background-color: #815dd6;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}
.buttonDelete {
  margin-left: 10px;
  appearance: none;
  background-color: #815dd6;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button:hover {
  background-color: #cdb8e6;
}

.buttonDelete:hover {
  background-color: #cdb8e6;
}

.button:focus {
  box-shadow: rgba(199, 183, 230, 0.4) 0 0 0 3px;
  outline: none;
}

.buttonDelete:focus {
  box-shadow: rgba(199, 183, 230, 0.4) 0 0 0 3px;
  outline: none;
}
@media (min-width: 1px) and (max-width: 995px) {
  .container {
    justify-content: left;
    padding-left: 15px;
    box-sizing: border-box;
    margin: auto;
  }
}
