.items-main-container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 40px;
    min-width: 600px;
    width: 100%;
    min-height: 70vh;
    margin: 0px 10px 10px 20px;
    padding-top: 20px;
    box-sizing: border-box;
}