.logo {
  margin: 30px;
  padding: 10px;
}

.link-element {
  height: 50px;
  width: 300px;
  background-color:#fff;
  border: 1px solid #282c34;
  display: inline-block;
  margin: 0px 10px 10px 20px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.links {
  text-decoration: none;
  color: #2E3271;
}