.list-page-main-container {
    display: flex;
    width: 100%;
    min-height: 70vh;
}

@media (min-width: 1px) and (max-width: 995px) {
    .list-page-main-container  {
        display: block;
        min-height:auto;
    }
  }