.dropdown-main-container {
    width: 200px;
    position: absolute;
    min-height: 15px;
    background-color: rgba(255, 255, 255, 1);
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: 1px;
    /* Secondary Color */
    color: #2e3271;
    margin-left: 40px;
}

.d {
    display: flex;
    align-items: center;

    position: relative;
    z-index: 1;

    width: 200px;
    min-height: 30px;
}

.d:hover {
    cursor: pointer;
    background-color: #2e3271;
    color: rgba(255, 255, 255, 1);
}